.lend-invest{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;

}

.lend-invest > .lend-invest-item{
    margin: 10px 0px;

}

.lend-invest-action{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.lendinvest-input{
    height: 48px;
    line-height: 48px  !important;
}
